/* підключення шрифтів */
/* спосіб піключення №2 через @import */
/* з використанням Google fonts */
/* @import url('https://fonts.googleapis.com/css?family=Josefin+Sans:wght@300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik:wght@300,400,500,700&display=swap'); */

/* З використанням Google fonts (plugin) */
/* @import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,regular,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rubik:300,regular,500,700&display=swap"); */

/* спосіб піключення №3 через завантаження файлів стилів */
@import url("fonts.css");

/*обнуляючі стилі */
@import url('reset.css');

body{
    font-family: "Proxima Nova", sans-serif;
    font-weight: 400;
    color: #2b2929;
    font-size: 16px;
}
.homework{

}
.experemental{
    margin-bottom: 50px;

}
.title{
    text-align: center;
    font-size: 48px;
    letter-spacing: 0.5px;
    line-height: 1.5;
}


.big{
    font-size: 32px;
}
.small{
    font-size: 8px;
}

.ital{
    font-style: italic;
}

.bold{
    font-weight: 700;
}
.light{
    font-weight: 300;
}

.josefin-sans{
    font-family: "Josefin Sans",sans-serif;
    /* font-weight: 700; */
    text-align: center;
    text-decoration: underline;
    text-decoration-color: blueviolet;
    letter-spacing: 5px;
    text-shadow: 20px 5px 5px rgba(206, 90, 55, 0.753);
}
.rubik{
    font-family: "Rubik", sans-serif;
    text-align: end;
    text-decoration: line-through;
    text-decoration-style: wavy;
    word-spacing: 20px;
    /* white-space: nowrap; */
}
.homework-1 {
    margin-bottom: 40px;
}
.homework-1__title {
    font-size: 40px;
    text-align: center;
    line-height: 1.2; /* 48/40 */
}

.krovato-text{
    font-size: 16px;
    line-height: 1.875; /* 30/16 */
}

.homework-2 {
}
.homework-2__title {
    font-size: 20px;
    line-height: 1.4; /* 28/20 */
}

