@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik-Light.woff2") format("woff2");
    font-style: normal;
    font-weight: 300;
    display: swap;
}
@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    display: swap;
}
@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik-Medium.woff2") format("woff2");
    font-style: normal;
    font-weight: 500;
    display: swap;
}
@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    display: swap;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    display: swap;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova-Semibold.woff2") format("woff2");
    font-style: normal;
    font-weight: 600;
    display: swap;
}