@use "sass:math";
@import "_reset.scss";
@import "_fonts.scss";
@import "_mixins.scss";


$containerPadding: 30;

$maxWidthContainer:1270;
$containerWidth: $maxWidthContainer + $containerPadding;

$introImageContainer: 688;


body{
    background-color: #fff;
    font-family: "Exo";
    color: #fff;
    font-size: 16px;
    
    background-color: #000;

    &::-webkit-scrollbar{
        width: 10px;
    }
    // тропинка скролу
    &::-webkit-scrollbar-track{
        box-shadow: inset 0 0 2px grey; 
        border-radius: 10px;
    }
    // сам повзунок
    &::-webkit-scrollbar-thumb {
        background: #6f00a9; 
        border-radius: 10px;
    }
    // стиль при наведенні
    &::-webkit-scrollbar-thumb:hover {
        background: #550183; 
    }
}

[class*="container"]{
    max-width: $containerWidth+30px; /*1270 + 30*/
    padding-left:15px;
    padding-right:15px;
    margin: 0 auto;
}

.wrapper {
    overflow: clip;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    
}

.header {
    font-family: "Orbitron";
    padding-bottom: 55px;
    padding-top: 55px;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 25px;
        // flex-wrap: nowrap;
    }

    &__logo {
        flex-shrink: 0;
        width: 177px;
        cursor: pointer;
    }
    &__logo img{
        max-width: 100%;
    }

    &__menu {
    }

    &__social {
    }
    &__section{
        display: flex;
        column-gap: 20px;
        align-items: center;
        justify-content: space-between;
    }
    @media (max-width:991.98px) {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}
.menu-header {
    @media (max-width:991.98px) {
        display: none;
    }
    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // gap: 60px;
        @media (min-width:991.98px) {
            @include adaptiveValue(column-gap,60, 20,0,1300,991.98)
        }
    }

    &__item {
    }

    &__link {
        text-transform: uppercase;
        font-size: 16px;
        line-height: 1.25; /* 20/16 */
        position: relative;
        cursor: pointer;

        transition: 0.3s ease;
    }

    &__link::before{
        content: "";
        position: absolute;
        bottom: -2px;
        left: 50%;
        width: 0;
        height: 2px;
        background: #6f00a9;

        transition: 0.3s ease;

    }

    @media (any-hover:hover) {
        &__link:hover{
            color:#6f00a9;
        }
        &__link:hover::before{
            width: 100%;
            left: 0;
        }
    }
}
.menu-icon{
    display: none;
    @media (max-width:991.98px) {
        display: block;
        width: 30px;
        height: 20px;
        position: relative;
    }
    & span{
        top: 50%;
        transform: translate(0,-50%);
    }
    &::before{
        top: 0;
    }
    &::after{
        bottom: 0;
    }
    & span,
    &::before,
    &::after{
        content: "";
        position: absolute;
        background: #fff;
        height: 3px;
        width: 100%;
        // top: 0;
        left: 0;
        border-radius: 12px;

    }

}
.social-header {
    justify-self: flex-end;
    &__list {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: space-between;
    }

    &__item {
    }

    &__link {
        width: 20px;
        height: 20px;
        transition: 0.3s ease;
        @media (any-hover:hover) {
            &:hover{
                transform: scale(1.2) rotate(15deg);
            }
        }
    }
    &__link img{
        max-width: 100%;
    }
    @media (max-width:420px) {
        display: none;
    }
}

.page {
    flex-grow: 1;
    &__intro {
    }
    &__about {
    }
    &__edit {
    }
}
.intro {
    position: relative;
    overflow: hidden;
    &__container {
        @include adaptiveValue(padding-top,92,40,0,$maxWidthContainer,320);
        // padding-top: 92px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        @media (max-width:767.98px) {
            flex-direction: column;   
            
        }
        
    }

    &__content {
        flex: 1 1 584px; /* 584/1300 */
        @media (max-width:767.98px) {
            flex-basis: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__content > *:not(:last-child){
        margin-bottom: 20px;
    }
    &__sub-title {
        @media (max-width:767.98px) {   
            align-self: flex-start;
        }
        display: inline-block;
        position: relative;
        font-size: 18px;
        line-height: 1.1111; /* 20/18 */
        text-transform: uppercase;
        letter-spacing: -1px;
        padding-bottom: 10px;
        padding-right: 32px;
    }
    &__sub-title::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(66,255,0,1) 49%, rgba(36,0,255,1) 100%);
    }

    &__title {
        @media (max-width:767.98px) {
            text-align: center;
        }
        text-transform: uppercase;
        font-weight: 700;
        line-height: 0.875; /* 70/80 */
        @include adaptiveValue(font-size,80,25,0,$containerWidth,320);
    }

    &__text {
        letter-spacing: -1px;
        font-size: 18px;
        line-height: 2.2222; /* 40/18 */
    }

    &__link {
        padding: 15px 60px;
        background: #6f00a9;
        font-weight: 900;
        font-size: 20px;
        text-transform: uppercase;

        transition: 0.3s ease;
    }
    @media (any-hover:hover) {
        &__link:hover{
            background: #8603cc;
            color: #d4d4d4;

            box-shadow: 0 0 15px rgba($color: #6f00a9, $alpha: 0.3);
        }
    }

    &__images {
        align-self: flex-end;
        flex:  0 1 688px;
        position: relative;
        display: flex;
        justify-content: center;
        margin-right: -57px;
        @media (max-width:767.98px) {
            flex-basis: auto;
            align-self: auto;
            width: 100%;
            margin-right: 0;
        }
    }

	&__main {
        position: relative;
        z-index: 5;
        width: percent(376,688);
        height: 100%;
        aspect-ratio: 376 / 508;
        object-fit: cover;
	}

	&__left-decoration {
        position: absolute;
        bottom: 0;
        left: 0;
        width: percent(315,688);
	}

	&__right-decoration {
        position: absolute;
        bottom: 0;
        right: 0;
        width: percent(287,688);
	}

	&__premiere {
        top: 25px;
        left: 25px;
        position: absolute;
        width: percent(110,688);
        transform: rotate(-45deg);
	}

	&__after-effects {
        // top: 20%;
        // right: 5%;
        top: 42px;
        right: 62px;
        position: absolute;
        width: percent(70,688);
        transform: rotate(30deg);
	}
    &__decor{
    }
    &__circle{
        position: absolute;
        width: 480px;
        height: 480px;
        border-radius: 50%;
        background: linear-gradient(90deg, rgba(151,0,255,1) 0%, rgba(87,255,28,1) 37%, rgba(235,30,3,1) 67%, rgba(0,56,255,1) 100%);
        filter: blur(100px);
        opacity: 0.3;
    }
    &__circle--left{
        top: -19%; /* 114/600 */
        left: -9.933775%; /* 150/1510 */
    }
    &__circle--right{
        bottom: -22.5%; /* 135/600 */
        right: -4.900662%; /* 74/1510 */
    }
}
.about {
    background:  url("../img/about.webp") center no-repeat;
    padding-top: 100px;
    padding-bottom: 120px;
    @media (max-width:1100px) {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    @media (max-width:991.98px){
        padding-top: 50px;
        padding-bottom: 50px;
    }
    @media (max-width:520px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    &__container {
        & > *:not(:last-child){
            margin-bottom: 20px;
        }
    }

    &__content {
        text-align: center;
        &:not(:last-child){
            margin-bottom: 70px;
        }
        & > *:not(:last-child){
            margin-bottom: 20px;
        }
        @media (max-width:767.98px) {
            &:not(:last-child){
                margin-bottom: 35px;
            }
        }
    }
    &__title {
        @include adaptiveValue(font-size,60,20,0, $maxWidthContainer,320);
        // font-size: 60px;
        line-height:1.1666; /* 70/60 */
        font-weight: 700;
        text-transform: uppercase;
        display: inline-block;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 20px;
        position: relative;
        &::after{
            position: absolute;
            bottom: 0;
            left: 0;
            content: "";
            width: 100%;
            height: 1px;
            background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(66,255,0,1) 49%, rgba(36,0,255,1) 100%);
        }
    }

    &__text {
        margin: 0 auto;
        max-width: 992px;
        font-size: 18px;
        line-height: 2.2222; /* 40/18 */
        letter-spacing: -0.3px;
        text-align: center;
        text-transform: capitalize;
    }

    &__services {
    }
}
.services-about {
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    gap: 60px;
    &__list {
        flex-shrink: 0; // якщо прибрати обидва списки налізуть 1 на 1го (день страждань)
        display: flex;
        gap: 60px;
        align-items: center;
        justify-content: space-between;
        animation: row 15s infinite linear;
    }
    @media (any-hover:hover) {
        &:hover{
            // animation-play-state: paused;
            // не спрацьовують стилі через синтаксис &__list
            .services-about__list{
                animation-play-state: paused;
            }
        }
    }

    &__item {
        flex-shrink: 0;
        
        display: flex;
        align-items: center;
        gap: 60px;
        text-transform: capitalize;
        font-weight: 500;
        font-family: "Orbitron";
        letter-spacing: 0;
        font-size: 20px;
        line-height: 1.25; /* 25/20 */
        // counter-reset: none;
        &::after{
            content: "";
            flex-shrink: 0;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(0,255,0,1) 53%, rgba(0,0,255,1) 100%);
        }
    }

    @keyframes row {
        0%{
            transform: translateX(0);
        }
        100%{
            transform: translateX( calc(-100% -     60px ));
        }
    }
}

.edit {
    padding-top: 100px;
    padding-bottom: 100px;
    @media (max-width:767.98px) {
        padding-top: 50px;
    }
    @media (max-width:520px){
        padding-top: 30px;
    }
    position: relative;
    &__container {
    }

    &__title {
        @include adaptiveValue(font-size,60,20,0, $maxWidthContainer,320);
        font-weight: 700;
        text-transform: uppercase;
        
        line-height: 1.1666; /* 70/60 */
        
        padding-right: 144px;
        position: relative;
        display: inline-block;
        &::before{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(66,255,0,1) 49%, rgba(36,0,255,1) 100%);
        }
        &:not(:last-child){
            margin-bottom: 120px;
        }
        @media (max-width:767.98px) {
            padding-right: 70px;
            padding-bottom: 10px;
            &:not(:last-child){
                margin-bottom: 80px;
            }
        }
        @media (max-width:520px) {
            &:not(:last-child){
                margin-bottom: 40px;
            }
        }
    }

    &__list {
        display: flex;
        gap: 40px;
        justify-content: space-between;
        flex-wrap: nowrap;
        background: rgba($color: #000000, $alpha: 0.5);
        overflow-x: auto;
        overflow-y: hidden; // проблема
        padding-bottom: 20px;

        &::-webkit-scrollbar{
            height: 8px;
        }
        // тропинка скролу
        &::-webkit-scrollbar-track{
            box-shadow: inset 0 0 2px grey; 
            border-radius: 10px;
        }
        // сам повзунок
        &::-webkit-scrollbar-thumb {
            background: #6f00a9; 
            border-radius: 10px;
        }
        // стиль при наведенні
        &::-webkit-scrollbar-thumb:hover {
            background: #550183; 
        }
    }

    &__item {
    }
    &__bg{
        z-index: -1;
        opacity: 0.05;
        position: absolute;
        top: 60px;
        left: 0;
        & img{
            width: 100%;
        }
        @media (max-width:767.98px) {
            top: 50px;
        }
        @media (max-width:520px){
            top: 30px;
        }
    }
}
.item-edit {
    & > *:not(:last-child){
        margin-bottom: 40px;
    }
    flex: 1 0 360px;
    @media (max-width:767.98px) {
        flex-basis: 240px;
        & > *:not(:last-child){
            margin-bottom: 20px;
        }
    }
    &__link {
        position: relative;
        border: 10px solid transparent;
        transition: border-color 0.4s ease-in-out;
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba($color: #000000, $alpha: 0.5);
            transition: 0.3s ease;
        }

    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        // background: #fff;
        width: 27.777778%; /* 100/360 */
        transform: translate(-50%,-50%);
        transition: top 0.3s ease;
        & img{
            width: 100%;
        }
        
    }

    &__image {
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 1 / 1;
        }
    }

    &__label {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        position: absolute;
        top: 65%;
        left: 50%;
        font-size: 60px;
        font-weight: 700;
        transform: translate(-50%,-50%);

        transition: opacity 0.3s ease;
    }

    &__title {
        @include adaptiveValue(font-size,40,20,0,$maxWidthContainer,320);
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }
    @media (any-hover:hover) {
        &:hover &__icon{
            top: 40%;
        }
        &:hover &__label{
            opacity: 1;
        visibility: visible;
        pointer-events: all;
        }
        &:hover &__link{
            border-color: #6f00a9;
            &::before{
                background: rgba($color: #000000, $alpha: 0.8);
            }
        }
    }
}


.footer {
}